.card {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: 2px solid #112d4e;
  border-radius: 10px;

  width: 250px;
  background-color: #dbe2ef;
  color: #112d4e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 180px;
  border: 2px solid #112d4e;
  border-radius: 10px;
}

.card a,
.card button {
  background-color: #112d4e;
  color: #dbe2ef;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
}

.card div {
  display: flex;
  background-color: #112d4e;
  width: 100%;
  height: 40px;
  border-radius: 0 0 10px 10px;
}

.card:hover {
  background-color: #112d4e;
  color: #dbe2ef;
  border: 2px solid #dbe2ef;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 1s ease;
}

.card a:hover,
.card button:hover {
  background-color: #dbe2ef;
  color: #112d4e;
}
