.card {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-shadow: 0px 0px 5px 0px #112d4e;
  border-radius: 10px;
  width: 250px;
  background-color: #dbe2ef;
  color: #112d4e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 180px;
  box-shadow: 0px 0px 5px 0px #112d4e;
  border-radius: 10px;
}

.card a {
  background-color: #112d4e;
  color: #dbe2ef;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 8px 8px;
  height: 100%;
  width: 100%;
  padding: 12px 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.card:hover {
  transform: scale(1.03);
  transition: all 1s ease;
}

.card a:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #dbe2ef inset;
}
