body {
  background-color: #e0e0e0;
  margin: 0 0 20px 0;
}

.navbar {
  background-color: #112d4e;
  height: 70px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.menu {
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #dbe2ef;
  font-weight: bold;
  font-size: 20px;
}

.details-card {
  width: 70%;
  height: 500px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: 5px solid #112d4e;
  border-radius: 10px;
  padding: 5px;
  background-color: #dbe2ef;
  color: #112d4e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#details-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

#details-card img {
  border: 2px solid #112d4e;
  border-radius: 10px;
  height: 60%;
}

#product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}

#details-card button {
  margin: 20px 0;
  color: #dbe2ef;
  background-color: #112d4e;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}

#details-card a {
  text-decoration: none;
  font-size: 18px;
  color: #112d4e;
  cursor: text;
  pointer-events: none;
}

#details-card p {
  text-align: center;
  font-size: 18px;
  padding: 0 15px;
}

#details-card button:hover {
  background-color: #dbe2ef;
  color: #112d4e;
}

#message {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: green;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
