body {
  background-color: #e0e0e0;
  margin: 0 0 20px 0;
}

.navbar {
  background-color: #112d4e;
  height: 70px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.menu {
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #dbe2ef;
  font-weight: bold;
  font-size: 20px;
}

#table-div {
  display: flex;
  justify-content: center;
}

#products {
  width: 50px;
  border-radius: 5px;
  border: 1px solid #112d4e;
}

table {
  text-align: center;
  color: #112d4e;
  border: 2px solid #112d4e;
}

#product-name {
  width: 200px;
}

th {
  font-size: 18px;
  padding: 15px;
  text-transform: uppercase;
  background-color: #112d4e;
  color: #dbe2ef;
}

tr:nth-child(even) {
  background-color: #dbe2ef;
}

td {
  width: 100px;
}

.remove-product,
.decrement-quantity,
.increment-quantity,
#buy {
  background-color: #112d4e;
  color: #dbe2ef;
  border-radius: 5%;
}

#buy {
  padding: 0 10px;
  font-weight: bold;
}

.remove-product:hover,
.decrement-quantity:hover,
.increment-quantity:hover,
#buy:hover {
  background-color: #dbe2ef;
  color: #112d4e;
  border: 1px solid #112d4e;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #112d4e;
}

a:hover {
  text-decoration: underline;
}

#order {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 40px 0;
}

#total-price {
  font-size: 20px;
  font-weight: bold;
  color: #112d4e;
}

#message {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: green;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
