body {
  background-color: #e0e0e0;
  margin: 0 0 30px 0;
}

.navbar {
  background-color: #112d4e;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.menu {
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #dbe2ef;
  font-weight: bold;
  font-size: 20px;
}

#search-bar {
  display: flex;
  justify-content: center;
  background-color: #dbe2ef;
  height: 70px;
  margin-bottom: 30px;
  border-bottom: 2px solid #112d4e;
}

input {
  height: 35px;
  width: 500px;
  border-color: #112d4e;
  display: flex;
  align-self: center;
  border-radius: 50px;
}

input[type="text"] {
  padding-left: 20px;
}

#products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 20px;
}

#spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 831px) and (max-width: 1130px) {
  #products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 531px) and (max-width: 830px) {
  #products {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 530px) {
  #products {
    grid-template-columns: 1fr;
  }
  .navbar,
  .menu {
    display: flex;
    flex-direction: column;
    height: 160px;
  }
  .navbar {
    padding-top: 20px;
  }
}
