body {
  background-color: #e0e0e0;
  margin: 0 0 20px 0;
}

.navbar {
  background-color: #112d4e;
  height: 70px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.menu {
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #dbe2ef;
  font-weight: bold;
  font-size: 30px;
}
