body {
  background-color: #e0e0e0;
  margin: 0 0 20px 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.navbar {
  background-color: #112d4e;
  height: 70px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.menu {
  display: flex;
  gap: 20px;
}

.navbar a {
  color: #dbe2ef;
  font-weight: bold;
  font-size: 20px;
}

.navbar a:hover {
  text-decoration: none;
}

#spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#table-div {
  display: flex;
  justify-content: center;
}

#products {
  width: 50px;
  border-radius: 5px;
  border: 1px solid #112d4e;
}

table {
  text-align: center;
  color: #112d4e;
  border: 2px solid #112d4e;
}

#product-name {
  width: 200px;
}

th {
  font-size: 18px;
  padding: 15px;
  background-color: #112d4e;
  color: #dbe2ef;
}

tr:nth-child(even) {
  background-color: #dbe2ef;
}

td {
  width: 100px;
}

.delete-product {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #112d4e;
  color: #dbe2ef;
  border-radius: 5%;
}

.delete-product:hover {
  background-color: #dbe2ef;
  color: #112d4e;
  border: 1px solid #112d4e;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #112d4e;
}

a:hover {
  text-decoration: underline;
}

#add-new-product {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#add-new-product button {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #112d4e;
  color: #dbe2ef;
  border-radius: 5%;
  padding: 10px;
  font-size: 18px;
}

#add-new-product button:hover {
  background-color: #dbe2ef;
  color: #112d4e;
  border: 1px solid #112d4e;
  cursor: pointer;
}

#form-details {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  padding: 20px;
  background-color: #e0e0e0;
  color: #112d4e;
  border-radius: 5px;
  margin-top: 20px;
}

#form-details div {
  margin-bottom: 10px;
}

#form-details label {
  display: block;
  margin-bottom: 5px;
}

#form-details input[type="text"],
#form-details input[type="number"] {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #112d4e;
}

#form-details div:last-child {
  display: flex;
  justify-content: center;
}

#form-details input[type="submit"] {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 20%;
  padding: 10px;
  font-size: 18px;
  background-color: #112d4e;
  color: #dbe2ef;
  border-radius: 5%;
  margin-top: 20px;
}

#form-details input[type="submit"]:hover {
  background-color: #dbe2ef;
  color: #112d4e;
  border: 1px solid #112d4e;
  cursor: pointer;
}

#form-admin {
  display: none;
}

@media (max-width: 530px) {
  .navbar,
  .menu {
    display: flex;
    flex-direction: column;
    height: 160px;
  }
  .navbar {
    padding-top: 20px;
  }
}
